<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>task_organizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C3401F21D50FA5100BDDECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C3402081D50FA5100BDDECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C3402131D50FA5100BDDECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
